# Data Wrangling and Vectorized Computations
numpy>=1.22.0
pandas>=1.4.0

# Statistical Analysis & Modeling
scipy>=1.8.0
scikit-learn>=1.0.0

# Visualizations and Plotting
matplotlib>=3.5.0
seaborn>=0.11.0

# Environment
jupyter>=1.0.0
